<style>
    .Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 90%; 
  height: 60%;
}
</style>
<ion-view view-title="Login" ><!---->
    <ion-content >
        <form name="loginForm" class="panel panel-primary Absolute-Center is-Responsive">
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                    Trivia - Login
                </h3>
            </div>
            <div class="panel-body" >
                <div class="form-horizontal">
                    <div class="form-group text-center">
                        <span class="glyphicon glyphicon-hand-right" style="font-size:100px;"></span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : loginForm.txtUsername.$invalid && !loginForm.txtUsername.$pristine }">
                        <div class="container">
                            <div class="list text-center">
                                <label class="item item-input"><!--style="border-radius: 15px"-->
                                    <span class="input-label">Usuario:</span>
                                    <input name="txtUsername" type="text" ng-model="loginData.username" placeholder="Usuario" required>
                                </label>
                                <p ng-show="loginForm.txtUsername.$invalid && !loginForm.txtUsername.$pristine" class="help-block">Usuario Requerido.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid">Empezar Juego</button>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <strong>Acceda con un usuario para Iniciar el Juego</strong>
            </div>
        </form>
    </ion-content>
</ion-view>
