<ion-view view-title="Preguntas">
    <ion-content>
        <div class="list card animated tada">
            <div class="item item-divider">Pregunta 1</div>  
        </div>                          
        <div class="{{Answer()}}" ng-click="Answer(true)">
            <div class="item item-body">
                <div>
                    Respuesta 1
                </div>
            </div>          
        </div>
        <div class="{{Answer()}}" ng-click="Answer(true)">
            <div class="item item-body">
                <div>
                    Respuesta 2
                </div>
            </div>
        </div>
        <div class="{{Answer()}}" ng-click="Answer(true)">
            <div class="item item-body">
                <div>
                    Respuesta 3
                </div>
            </div>
        </div>
        <div class="{{Answer()}}" ng-click="Answer(true)"> <!--infinite tada-->
            <div class="item item-body">
                <div>
                    Respuesta 4
                </div>
            </div>
        </div> 
    </ion-content>
</ion-view>
 